body {
    background: #fff;
    font-family: PingFangSC-Regular,PingFangSC-Ultralight,PingFangSC-Light,PingFangSC-Light,
  ,PingFangSC-Thin,PingFangSC-Medium,PingFangSC-Semibold,sans-serif;
}

body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0;
}

.con {
    background: #fff;
}

.con img {
    width: 6.1rem;
    height: auto;
    display: block;
    margin: 0.6rem 0 0 0.28rem;
}

.con h2 {
    color: #0b3966;
    height: 0.92rem;
    padding-left: 0.7rem;
    border-top: 0.2rem solid #ededed;
    -webkit-box-shadow: 0 0.04rem 0.08rem 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 0.04rem 0.08rem 0 rgba(0, 0, 0, 0.07);
    background: #fff;
    margin-bottom: 0.08rem;
    font-weight: bold;
    line-height: 0.92rem;
    box-sizing: content-box;
}

.unit {
    padding: 0.38rem 0.7rem 0.46rem 0.42rem;
    background: #fff;
    border-bottom: 1px solid #d8d8d8
}

.unit h3 {
    color: #4f5051;
    background: url("../images/icon_round.png") no-repeat left 0.16rem;
    background-size: 0.08rem, 0.08rem;
    padding-left: 0.28rem;
    font-weight: bold;
    word-break: break-word;
    line-height: 0.4rem;
    text-align: justify;
}

.unit h3+h3 {
    margin-top: 0.36rem;
}

.unit p {
    color: #848c9a;
    padding: 0.1rem 0 0.36rem 0.28rem;
    text-align: justify;
    line-height: 0.4rem;
    word-wrap: break-word;
}

.unit p:last-child {
    padding-bottom: 0;
}

.process {
    padding: 0.52rem 0.7rem 0.6rem 0.42rem;
}

.unit h4 {
    color: #4f5051;
    height: 0.42rem;
    padding-left: 0.68rem;
    font-weight: 700;
    line-height: 0.42rem;
}

.unit h4:nth-of-type(1) {
    background: url("../images/1.png") no-repeat left center;
    background-size: 0.42rem, 0.42rem;
}

.unit h4:nth-of-type(2) {
    background: url("../images/2.png") no-repeat left center;
    background-size: 0.42rem, 0.42rem;
}

.unit h4:nth-of-type(3) {
    background: url("../images/3.png") no-repeat left center;
    background-size: 0.42rem, 0.42rem;
}

.unit h4:nth-of-type(4) {
    background: url("../images/4.png") no-repeat left center;
    background-size: 0.42rem, 0.42rem;
}

.unit h4:nth-of-type(5) {
    background: url("../images/5.png") no-repeat left center;
    background-size: 0.42rem, 0.42rem;
}

.unit h4:nth-of-type(6) {
    background: url("../images/6.png") no-repeat left center;
    background-size: 0.42rem, 0.42rem;
}

.unit h4:nth-of-type(7) {
    background: url("../images/7.png") no-repeat left center;
    background-size: 0.42rem, 0.42rem;
}

.unit h4:nth-of-type(8) {
    background: url("../images/8.png") no-repeat left center;
    background-size: 0.42rem, 0.42rem;
}

.line {
    border-left: #848C99 1px solid;
    height: 0.5rem;
    margin: 0.04rem 0.21rem;
}

.con p.pt46 {
    padding-top: 0.36rem;
}

.con p.pb46 {
    padding-bottom: 0.36rem;
}

.top {
    position: fixed;
    top: 0;
    background: #202c3a;
    width: 100%;
    height: 1.2rem;
}

.top div {
    float: left;
}

.top>div:nth-child(1) {
    background: url("../images/img_logo@2x.png") no-repeat 0.62rem center;
    width: 5.5rem;
    background-size: 0.7rem, 0.7rem;
    height: 1.2rem;
}

.top>div:nth-child(2) {
    width: 2rem;
    height: 1.2rem;
}

.top>div:nth-child(2) button {}

.closebanner {
    width: 0.2rem;
    height: 0.2rem;
    margin: 0.5rem 0.2rem 0 0.22rem;
    background: url("../images/icon_close@2x.png") no-repeat center center;
    background-size: 0.2rem, 0.2rem;
}

.text {
    padding: 0.22rem 0.2rem 0 0.9rem;
    color: #fff;
}

#applink {
    width: 1.48rem;
    height: 0.74rem;
    border-radius: 0.08rem;
    background: #0b3966;
    color: #fff;
    margin: 0.23rem auto;
    display: block;
    -webkit-box-shadow: 0 0.03rem 0.09rem rgba(0, 0, 0, .3);
    box-shadow: 0 0.03rem 0.09rem rgba(0, 0, 0, .3);
}

.gaishu p,
.summary p {
    line-height: 0.5rem;
}

.con img.mt0 {
    margin-top: 0
}

.con img.mb0 {
    margin-bottom: 0
}

.con img.mt46 {
    margin-top: 0.46rem
}

.con img.mb46 {
    margin-bottom: 0.46rem
}

.con img.mt60 {
    margin-top: 0.6rem
}

.con img.mb60 {
    margin-bottom: 0.6rem
}

.con p.pt46 {
    padding-bottom: 0
}

.con p.pt0 {
    padding-top: 0
}

.con p.pb0 {
    padding-bottom: 0
}

.con img.mb7 {
    margin-bottom: 0.14rem
}

.con img.mt7 {
    margin-top: 0.14rem
}

.unit.ptb60 {
    padding-bottom: 0.6rem;
}

.bgClass {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}
.maximg{
    display: none;
    width: 100%;
    position: fixed;
    top:50%;
    z-index: 1002;
}
