@charset "utf-8";

/* CSS Reset*/

body,
div,
p,
ul,
ol,
li,
textarea,
form,
input,
button,
h1,
h2,
h3,
h4,
h5,
dl,
dt,
dd,
img,
section,
article,
aside,
header,
footer,
nav,
dialog,
figure,
hgroup {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html {
    font-size: 625%;
}

input,
button,
select,
textarea {
    border: none;
    outline: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    border: 0;
}

section,
article,
aside,
header,
footer,
nav,
dialog,
figure,
hgroup {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

@media screen and (max-width:749px) {
    .f24 {
        font-size: 12px;
    }
    .f26 {
        font-size: 13px;
    }
    .f28 {
        font-size: 14px;
    }
    .f30 {
        font-size: 15px;
    }

    .f32 {
        font-size: 16px;
    }
    .f34 {
        font-size: 17px;
    }
    .f36 {
        font-size: 18px;
    }
    .f40 {
        font-size: 20px
    }
    .f42 {
        font-size: 21px;
    }
}
// @media screen and (min-width:321px) and (max-width:750px){
//     .f26{font-size:13px;}
//     .f32{font-size:16px;}
// }
@media screen and (min-width:750px) {
    .f24 {
        font-size: 24px;
    }
    .f26 {
        font-size: 26px;
    }
    .f28 {
        font-size: 28px;
    }
    .f30 {
        font-size: 30px;
    }
    .f32 {
        font-size: 32px;
    }
    .f34 {
        font-size: 34px;
    }
    .f36 {
        font-size: 36px;
    }
     .f40 {
        font-size: 40px;
    }
    .f42 {
        font-size: 42px;
    }
}

body {
    height: 100%;
    background: #ededed;
    font: arial,"\5b8b\4f53",sans-serif;
}

* {
    box-sizing: border-box;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust: 100%;
}

.bgClass {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
}
.tip {display: none;
    width: 2.86rem;
    height: 1.26rem;
    line-height: 1.26rem;
    position: fixed;
    left:50%;
    top:50%;
    margin-left: -1.43rem;
    margin-top: -0.63rem;
    z-index: 1004;
    overflow: auto;
    background-color: #000;
    -moz-opacity: 0.6;
    opacity: .60;
    filter: alpha(opacity=60);
    color: #fff;
    border-radius: 0.08rem;
    text-align: center;
}
// .showClass {
//     width: 2.86rem;
//     height: 1.26rem;
//     line-height: 1.26rem;
//     position: fixed;
//     left:50%;
//     top:50%;
//     margin-left: -1.43rem;
//     margin-top: -0.63rem;
//     z-index: 1004;
//     overflow: auto;
//     background-color: #000;
//     -moz-opacity: 0.6;
//     opacity: .60;
//     filter: alpha(opacity=60);
//     color: #fff;
//     border-radius: 0.08rem;
//     text-align: center;
// }
.showClass {
    display: none;
    width: 3.1rem;
    height: 3.1rem;
    position: fixed;
    left:50%;
    top:50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    z-index: 1002;
    // overflow: auto;
    // background-color: #fff;
    // -webkit-background-clip: padding-box;
    // background-clip: padding-box;
    // border: 1px solid #999;
    // border: 1px solid rgba(0, 0, 0, .2);
    // border-radius: 6px;
    // outline: 0;
    // -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    // box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.showClass p {
    text-align: center;
    font-size: 0.32rem;
    height: auto;
    line-height: 0.42rem;
}

.showClass p.img {
    background: url(../images/loading.gif) no-repeat center center;
    height: 3.1rem;
    line-height: 3.1rem;
    padding-left: 2rem;
}

.showClass p.close_d {
    height: 0.52rem;
    line-height: 0.42rem;
    line-height: 0.42rem;
}

.showClass p.close_d button {
    display: block;
    margin: 0.16rem auto;
    width: 60%;
    height: 0.3rem;
    line-height: 0.3rem;
    color: #fff;
    text-align: center;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #fcb81c;
    border: none;
}
